.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc .fc-col-header-cell {
  font-size: 0.75rem;
  font-weight: normal;
  color: #b6b5b3;
  border: none;
}
th.fc-day-sat .fc-col-header-cell-cushion {
  color: blue;
}
th.fc-day-sun .fc-col-header-cell-cushion{
  color: red;
}
td.fc-day {
  border: none;
}
td.fc-day-sat {
  color: blue;
  background-color: #eaf4ff;
}
td.fc-day-sun {
  color: red;
  background-color: #ffeaea;
}
td.fc-holiday {
  color: red;
  background-color: #ffeaea;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
  height: 7%;
}
.fc .fc-toolbar-title {
  font-size: 1.5rem;
  color: #37362f;
}
.fc .fc-button-primary {
  font-size: 1.0rem;
  background-color: #ffffff00;
  color: #acaba9;
  border: none;
  outline: none;
}
.fc .fc-today-button {
  background-color: #ffffff00;
  color: #37362f;
  border: none;
  outline: none;
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #ffffff00;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-button-primary:not(:disabled):focus,
.fc .fc-button-primary:not(:disabled).fc-button-focus {
  background-color: #ffffff00;
  color: #acaba9;
  box-shadow: none;
}
.fc .fc-today-button:disabled {
  opacity: 1;
}
.fc .fc-scrollgrid {
  border-width: 0;
}

.fc .fc-scrollgrid-section > * {
  border: none;
}

.fc .fc-scrollgrid-sync-table {
  border: 1px;
}

/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1000;
} */
.all {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
main {
  flex: 1;
  overflow-y: scroll;
}